@{
    ViewData["Title"] = "Bikepacking Log";
}
<div class="row">
    <h1 class="col-sm-12">Track your trip!</h1>
    <div class="col-sm-6">
        <p>
            The Bikepacking Log app allows to keep track of your bikepacking adventures.
        </p>
        <p>The app allows you to log various information like miles travelled, camping locations, elevation gained and lost, and much more!</p>
        <p>Keep track of those memories!</p>
        <p>
            I hope you enjoy using the application.
        </p>
    </div>
</div>

