@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron shadow" style="background-color: #F4F4F4; border-radius: 25px;">
    <h1>Bikepacking Log</h1>
    <p class="lead">
        The Bikepacking Log app lets you track various information about
        your bikepacking trip.
    </p>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>Logging Trips</h2>
        <p>Keep track of your trips by inputing route information.</p>
    </div>
    <div class="col-sm-6">
        <h2>Upload Images</h2>
        <p>Attach images to trip log to keep track of those memorable moments.</p>
    </div>
</div>
<div class="row">
    <img src="~/images/bike1.jpg" alt="bikes" asp-append-version="true"
         class="float-left img-fluid col-sm-6  shadow rounded-sm" style="width:100%;" />
    <img src="~/images/bike2.jpg" alt="bikes" asp-append-version="true"
         class="float-left img-fluid col-sm-6  shadow rounded-sm" style="width:100%;" />
</div>
